<div class="call-box">
    <div>
        <img src="{IMG_PATH}images_6/online_icon_1@2x.png" class="tel-icon-one">
        <a href="http://p.qiao.baidu.com/cps/chat?siteId=10839723&userId=22826019" class="call-xixun" data="{IMG_PATH}images_6/">
            <div>
                <img src="{IMG_PATH}images_6/online_icon_unClick@2x.png">
            </div>
            <p>在线咨询</p>
        </a>
    </div>
    <div>
        <a href="javascript:;" class="call-telnumber" data="{IMG_PATH}images_6/">
            <div>
                <img src="{IMG_PATH}images_6/phone_icon_unClick@2x.png">
            </div>
            <p>400- 667- 9656</p>
        </a>
    </div>
    <div class="goto-tot-bg">
        <a href="javascript:;" class="goto-top" data="{IMG_PATH}images_6/">
            <div>
                <img src="{IMG_PATH}images_6/top_icon_unClick@2x.png">
            </div>
        </a>
    </div>
</div>
<div class="footer-top">
    <div class="w-960">
    </div>
</div>
<div class="line  w-960"></div>
<div class="footer-list w-960 clearfix">
    <div class="footer-center">
        <div>
            <ul>
                <li class="margin-bottom26">关于我们</li>
                <li>
                    <a href="/html/aboutus/">公司介绍</a>
                </li>
                <li>
                    <a href="/html/list/">活动资讯</a>
                </li>
                <!--<li>-->
                    <!--<a href="?m=content&c=index&a=lists&catid=19">媒体报道</a>-->
                <!--</li>-->
                <li>
                    <a href="/html/cooperation/">招商加盟</a>
                </li>
            </ul>
            <ul>
                <li class="margin-bottom26">直播服务</li>
                <li>
                    <a href="/html/service/">活动直播</a>
                </li>
                <li>
                    <a href="/html/service/">教育直播</a>
                </li>
                <li>
                    <a href="/html/service/">金融直播</a>
                </li>
                <li>
                    <a href="/html/encyclopedia/">营销推广</a>
                </li>
                <li>
                    <a href="/html/service/">专业领域</a>
                </li>
                <li>
                    <a href="/html/service/">视频互动</a>
                </li>
            </ul>
            <ul>
                <li class="margin-bottom26">直播百科</li>
                <li>
                    <a href="/html/encyclopedia/">入门指南</a>
                </li>
                <li>
                    <a href="/html/encyclopedia/">如何直播</a>
                </li>
                <li>
                    <a href="/html/encyclopedia/">直播QA</a>
                </li>
                <li>
                    <a href="/html/encyclopedia/">直播技术</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="align-line"></div>
    <div class="footer-right">
        <ul>
            <li class="footer-title1">
                <img src="{IMG_PATH}images_6/undernavigation_pic_logo@2x.png">
            </li>
            <li>硅谷 · 香港 · <span>北京</span> · 深圳 · 武汉 · 成都</li>
            <li>
                <span  class="footer-p1">北京市 朝阳区　</span>
                <span class="footer-p2"> 望京soho  T1-B-1807 室</span>
            </li>
            <li>
                <span class="footer-p1">TEL　</span>
                <span class="footer-p2">(+86) 10 8478 0060</span>
            </li>
            <li>
                <span class="footer-p1">MAIL　</span>
                <span class="footer-p2">market@easyvaas.com</span>
            </li>
            <li class="clearfix">
                <img src="{IMG_PATH}images_6/undernavigation_pic_QR@2x.png">
                <span>服务号二维码</span>
            </li>
        </ul>
    </div>
    <div class="footer-ewm">

    </div>
</div>
<div class="line  w-960"></div>
<!-- <div class="line"></div> -->
<div class="copyright w-960">
    <span>Copyright 2014-2016 版权所有京ICP备16036920号-1</span>
    <span><a href="http://www.easyvaas.com" target="blank">易视云中文网</a>  |  <a href="http://www.easyvaas.com/en" target="blank">EasyVaas EN</a></span>
</div>