<html>
<head>
    <title>网络视频直播|手术直播|年会直播|教学直播|赛事直播|互动直播</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Keywords" content="网络视频直播|手术直播|年会直播|教学直播|赛事直播|互动直播" />
    <meta name="Description" content="三千氪直播，专业的网络视频直播服务商，专注于为各领域企业提供专业直播服务，包括手术直播、年会直播、教学直播、赛事直播、互动直播等，热线400-667-9656" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="baidu-site-verification" content="UPiURnj690" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="icon" href="{IMG_PATH}images_6/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}css_6/reset.css">
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}css_6/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}css_6/responsive-menu.css">
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}css_6/main.css">
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}css_6/layer.css">
</head>
<body>
<div class="nav-page">
    <div class="nav-box">
        <div class="nav-bg nav-bg-background"></div>
        <div class="nav">
            <div class="logo">
                <a href="index.php">
                    <img src="<?php echo IMG_PATH;?>images_6/navigation_3QK_logo@2x.png">
                </a>
            </div>
            <header>
                <div class="wrapper">
                    <div class="rm-container">
                        <nav class="rm-nav rm-nojs rm-lighten">
                            <ul>
                                <li><a href="/">首页</a></li>
                                <li><a href="/html/product/" >产品体验</a>
                                </li>
                                <li><a href="/html/service/">直播服务</a></li>
                                <li><a href="/html/livecase/" class='set-nav-click'>直播案例</a></li>
                                
                                <li><a href="http://www.easyvaas.com/3qk.html">开放平台</a></li>
                                <li><a href="javascript:;" class="nav-telnumber"><img src="<?php echo IMG_PATH;?>images_6/footer_phone.png" class="nav-iphone-icon">400- 667- 9656</a></li>
                                <li><a href="https://3qk.easyvaas.com/manage/login">登录</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
        </div>
    </div>
</div>
<div class="banner">
    <img src="{IMG_PATH}images_6/livecase_banner.png">
    <div class="txt_box scale_box">
        <h2>直播 从这里开始 </h2>
    </div>
</div>


<div class="livecase">
    <!-- 直播列表 -->

    <div class="livecase-section-1">
        <div class="livecase-section-title">
            <span class="icon"><img src="{IMG_PATH}images_6/livecase_icon_live@2x.png"></span>
            <span class="title">正在直播</span>
        </div>
        <ul>
            {pc:get sql="select * from 3qk_living"}
            {loop $data $row}
            {php $i==1 }

            <li >
                <a href="{php echo $row[url]}">
                    <img src="{php echo $row[img]}" class="livecase-list-img">
                    <div class="clearfix livecase-section-li1">
                        <span><img src="{IMG_PATH}images_6/livecase_icon_titlestar@2x.png" class="livecase-title-icon"></span>
                        <span class="video-title">{php echo $row[title]}</span>
                    </div>
                    <div class="livecase-section-li2">{php echo $row[starttime]}</div>
                    <div class="livecase-section-li3">
                        <span>发起人</span>
                        <span>{php echo $row[owner]}</span>
                    </div>
                    <div class="livecase-section-li4">
                        <div>
                            <span><img src="{IMG_PATH}images_6/livecase_icon_peoplenumber@2x.png"></span>
                            <span>{php echo $row[audience]}</span>
                            <span>直播中</span>
                            <span><img src="{IMG_PATH}images_6/livecase_icon_live2@2x.png"></span>
                        </div>
                    </div>
                </a>
            </li>
            {php $i++}
            {php if($i==4)break;}
            {/loop}
            {/pc}
        </ul>
    </div>

    <!-- 预告列表 -->

    <!-- <div class="livecase-section-1 livecase-section-advance">
        <div class="livecase-section-title">
            <span class="icon"><img src="{IMG_PATH}images_6/livecase_icon_notice@2x.png"></span>
            <span class="title">即将直播</span>
        </div>
        <ul class="clearfix">
            {pc:get sql="select * from 3qk_forecast"}
            {loop $data $row}
            {php $i==1 }
            <li >
                <a href="{php echo $row[url]};">
                    <img src="{php echo $row[img]}" class="livecase-list-img">
                    <div class="clearfix livecase-section-li1">
                        <span></span>
                        <span class="video-title">{php echo $row[title]}</span>
                    </div>
                    <div class="livecase-advance-li2">
                        <span>开播时间</span>
                        <span>{php echo $row[starttime]}</span>
                    </div>
                    <div class="livecase-advance-li3">
                        <span>发起人</span>
                        <span>{php echo $row[owner]}</span>
                        <span>预告</span>
                        <span><img src="{IMG_PATH}images_6/livecase_icon_notice2@2x.png"></span>
                    </div>
                </a>
            </li>

            {php $i++}
            {php if($i==2)break;}
            {/loop}
            {/pc}
        </ul>
    </div> -->
    <!-- 回放列表 -->
    <div class="livecase-section-1">
        <div class="livecase-section-title">
            <span class="icon"><img src="{IMG_PATH}images_6/livecase_icon_playback@2x.png"></span>
            <span class="title">精彩回放</span>
        </div>
        <ul>
            {pc:get sql="select * from 3qk_reply order by starttime desc"}
            {loop $data $row}
            {php $i==1 }
            <li>
                <a href="{php echo $row[url]}">
                    <img src="{php echo $row[img]}" class="livecase-list-img">
                    <div class="clearfix livecase-section-li1">
                        <span><img src="{IMG_PATH}images_6/livecase_icon_titlestar@2x.png" class="livecase-title-icon"></span>
                        <span class="video-title">{php echo $row[title]}</span>
                    </div>
                    <div class="livecase-section-li2">{php echo $row[starttime]}</div>
                    <div class="livecase-section-li3">
                        <span>发起人</span>
                        <span>{php echo $row[owner]}</span>
                    </div>
                    <div class="livecase-section-li4">
                        <div>
                            <span><img src="{IMG_PATH}images_6/livecase_icon_peoplenumber@2x.png"></span>
                            <span>{php echo $row[audience]}</span>
                            <span>回放</span>
                            <span><img src="{IMG_PATH}images_6/livecase_icon_playback2@2x.png"></span>
                        </div>
                    </div>
                </a>
            </li>
            {php $i++}
            {php if($i==6)break;}
            {/loop}
            {/pc}
        </ul>
    </div>

</div>
<div class="footer" style="margin-top:100px;">
    {template "content","footer"}
</div>
</body>
<script type="text/javascript" src="{JS_PATH}js_6/jquery.min.js"></script>
<script type="text/javascript" src="{JS_PATH}js_6/common.js"></script>
<script type="text/javascript">
    // 直播列表的鼠标划入样式
    var hoverimg = "livecase_icon_titlestar_crossed@2x.png";
    var img = "livecase_icon_titlestar@2x.png";
    $(".livecase-section-1 ul li").hover(function(){
        console.log($(this).find(".livecase-title-icon").find("img"))
        $(this).find(".livecase-title-icon").attr("src","{IMG_PATH}images_5/"+hoverimg);
        $(this).find(".video-title").addClass("set-color");
        $(this).find(".livecase-list-img").addClass("set-opc4");
    },function(){
        $(this).find(".livecase-title-icon").attr("src","{IMG_PATH}images_5/"+img);
        $(this).find(".video-title").removeClass("set-color");
        $(this).find(".livecase-list-img").removeClass("set-opc4");
    })
</script>

</html>
