<!DOCTYPE html>
<html>
<head>
    <title>VR直播解决方案|运动直播解决方案|智能交互终端|直播盒子</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Keywords" content="VR直播解决方案|运动直播解决方案|智能交互终端|直播盒子" />
    <meta name="Description" content="三千氪直播，专业的直播技术、直播设备服务商，致力于为企业提供VR直播解决方案、运动直播解决方案等技术支持，同时也提供智能交互终端、直播盒子等直播设备，热线400-667-9656" />
    <link rel="icon" href="{IMG_PATH}images_6/favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="baidu-site-verification" content="UPiURnj690" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}css_6/reset.css">
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}css_6/layer.css">
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}css_6/responsive-menu.css">
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}css_6/main.css">
</head>
<body>
<!-- 导航 -->
<h1 style="display:none;">运动直播</h1>
<div class="nav-page">
    <div class="nav-box">
        <div class="nav-bg nav-bg-background"></div>
        <div class="nav">
            <div class="logo">
                <a href="index.php">
                    <img src="<?php echo IMG_PATH;?>images_6/navigation_3QK_logo@2x.png">
                </a>
            </div>
            <header>
                <div class="wrapper">
                    <div class="rm-container">
                        <nav class="rm-nav rm-nojs rm-lighten">
                            <ul>
                                <li><a href="/">首页</a></li>
                                <li><a href="/html/product/"  class='set-nav-click'>产品体验</a>
                                </li>
                                <li><a href="/html/service/">直播服务</a></li>
                                <li><a href="/html/livecase/">直播案例</a></li>
                                
                                <li><a href="http://www.easyvaas.com/3qk.html">开放平台</a></li>
                                <li><a href="javascript:;" class="nav-telnumber"><img src="<?php echo IMG_PATH;?>images_6/footer_phone.png" class="nav-iphone-icon">400- 667- 9656</a></li>
                                <li><a href="https://3qk.easyvaas.com/manage/login">登录</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
        </div>
    </div>
</div>
<div class="swiper-container swiper-container-horizontal">
    <div class="swiper-wrapper">
        <div class="swiper-slide  swiper-slide-active">
            <div class="swiper-slide-box product-swiper-bannerbg">
                <div class="swiper-slide-box-content">
                    <div class="swiper-slide-box-content-info">
                        <p>全行业直播首选，适用各种应用场景<br><span>分享、互动尽在掌控！ </span></p>
                       <!--  <a href="javascript:;" class="goto-more">查看详情</a> -->
                    </div>
                    <div class="swiper-slide-box-content-img">
                        <img src="{IMG_PATH}images_6/product-banner-right-img.png" class="product-banner-right-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-list-title" style="margin-top:80px;">因为<span>“它们”</span>，让三千氪直播变得更具有互动感！</div>
<div id="mainTipsBox">
    <div class="mainTipsItem oneBtnBroadcast">
        <div class="centerBox adjust-overHidden">
            <img src="{IMG_PATH}images_6/more_img_iphone@2x.png" class="product-tips-img1 mainTipsItemleft">
            <img src="{IMG_PATH}images_6/more_img_mac@2x.png" class="product-tips-img2 item-big-img">
            <img src="{IMG_PATH}images_6/more_img_ipad@2x.png" class="product-tips-img3 mainTipsItemleft">
            <img src="{IMG_PATH}images_6/line_img_1@2x.png" class="product-tips-img4 mainTipsItembottom">
            <div class="mainTipsBox-title item-big-img">多终端接入</div>
        </div>

    </div>
    <div class="mainTipsItem">
        <div class="centerBox">
            <img src="{IMG_PATH}images_6/three_img_logo@2x.png" class="product-tips-img5 item-big-img">
            <div class="mainTipsBox-title item-big-img">三千氪平台</div>
        </div>
    </div>
    <div class="mainTipsItem">
        <div class="centerBox">
            <img src="{IMG_PATH}images_6/data_img_mac@2x.png" class="product-tips-img6 item-big-img">
            <img src="{IMG_PATH}images_6/line_img_2@2x.png" class="product-tips-img7 mainTipsItembottom">
            <div class="mainTipsBox-title item-big-img">数据报表</div>
        </div>
    </div>
    <div class="mainTipsItem">
        <div class="centerBox">
            <img src="{IMG_PATH}images_6/line_img_3@2x.png" class="product-tips-img8 mainTipsItembottom">
            <div class="mainTipsItem-ways item-big-img">
                <div class="mainTipsBox-ways-bg1 mainTipsItemleft">
                    <img src="{IMG_PATH}images_6/exp_round_img_1@2x.png">
                </div>
                <div class="mainTipsBox-ways-bg2 mainTipsItemleft">
                    <img src="">
                </div>
            </div>
            <div class="mainTipsBox-ways-button mainTipsItemtop">
                <ul>
                    <li data="1" class="active">
                        ●　红包互动
                    </li>
                    <li data="2">
                        ●　付费观看
                    </li>
                    <li data="3">
                        ●　现金打赏
                    </li>
                    <li data="t">
                        ●　自定义推广
                    </li>
                </ul>
                <ul>
                    <li data="4">
                        ●　实时提现
                    </li>
                    <li data="5">
                        ●　用户榜单
                    </li>
                    <li data="7">
                        ●　PPT共享
                    </li>
                    <li data="9">
                        ●　密码设定
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="prodcut-page">
    <ul class="product-list">
        <li>
            <div class="product-list-title">因为<span>“它们”</span>，让三千氪直播变得更具有即视感！</div>
            <div class="product-list-desc">· EasyLive GO · 运动直播新模式</div>
            <div class="product-list-bg">
                <div class="product-list-content">
                    <div class="product-list-content-bg"></div>
                    <div class="product-list-swiper">
                        <div class="product-list-icon"><img src="{IMG_PATH}images_6/EasyLive GO_img_go@2x.png"></div>
                        <div class="product-list-info addmargin-100">4G运动相机直播解决方案，开启全新运动直播新模式, 主要服务于极限运动、赛事直播及旅游达人等。</div>
                    </div>
                </div>
            </div>
            <div class="product-list-button">
                <a href="http://p.qiao.baidu.com/cps/chat?siteId=10839723&userId=22826019" class="call">立即咨询</a>
                <a href="http://www.easyvaas.com/easylive-go.html" class='more' target="blank">了解详情</a>
            </div>
        </li>
        <li>
            <div class="product-list-desc">· EasyLive VR · 提升视频体验效果</div>
            <div class="product-list-bg">
                <div class="product-list-content">
                    <div class="product-list-content-bg"></div>
                    <div class="product-list-swiper">
                        <div class="product-list-info">4K实时VR直播解决方案，全方位提升视频体验效果，
                            主要服务于各类活动、赛事直播及渠道分发等。</div>
                        <div class="product-list-icon addmargin-200"><img src="{IMG_PATH}images_6/EasyLiveVR_img_vr.png"></div>
                    </div>
                </div>
            </div>
            <div class="product-list-button">
                <a href="http://p.qiao.baidu.com/cps/chat?siteId=10839723&userId=22826019" class="call">立即咨询</a>
                <a href="http://www.easyvaas.com/vr.html" class='more' target="blank">了解详情</a>
            </div>
        </li>
        <li>
            <div class="product-list-desc">· EasyLive Cast · 广电级视频直播盒子</div>
            <div class="product-list-bg">
                <div class="product-list-content">
                    <div class="product-list-content-bg"></div>
                    <div class="product-list-swiper">
                        <div class="product-list-info">广电级视频直播盒子, 支持高清无线直播, 支持多种专业摄影设备接入，兼容所有第三方直播平台</div>
                        <div class="product-list-icon addmargin-200"><img src="http://dev.yizhibo.tv/user/fengxiaojuan/kklive/src/pc/statics/images/images_6/EasyLiveVR_img_cast@2x.png"></div>
                    </div>
                </div>
            </div>
            <div class="product-list-button">
                <a href="http://p.qiao.baidu.com/cps/chat?siteId=10839723&userId=22826019" class="call">立即咨询</a>
                <a href="http://www.easyvaas.com/easylive-cast.html" class='more' target="blank">了解详情</a>
            </div>
        </li>
        <li>
            <div class="product-list-desc">· Free Cast · 无线直播盒子</div>
            <div class="product-list-bg">
                <div class="product-list-content">
                    <div class="product-list-content-bg"></div>
                    <div class="product-list-info">无限直播盒子, 从多终端接入视频，直接分享到全社交平台</div>
                </div>
            </div>
            <div class="product-list-button">
                <a href="http://p.qiao.baidu.com/cps/chat?siteId=10839723&userId=22826019" class="call">立即咨询</a>
                <a href="http://www.easyvaas.com/freecast.html" class='more' target="blank">了解详情</a>
            </div>
        </li>
        <li>
            <div class="product-list-desc">· 智能交互大屏 · 触摸式智能交互终端</div>
            <div class="product-list-bg">
                <div class="product-list-content">
                    <div class="product-list-content-bg"></div>
                    <div class="product-list-info">新一代的多功能触摸式智能交互终端，全新O2O模式，可广泛适用于视频客服、<br>视频认证、广告分发、会议签到迎宾、自动售票机、客流分析、商场促销等</div>
                </div>
            </div>
            <div class="product-list-button">
                <a href="javascript:;" class="call">立即咨询</a>
                <a href="http://www.easyvaas.com/product-daping.html" class='more' target="blank">了解详情</a>
            </div>
        </li>
    </ul>
</div>
<div class="product-ways">
    <div>
        <span> 软硬件完美结合，直播就这么简单！</span>
        <span><a href="?m=content&c=index&a=lists&catid=26"><img src="{IMG_PATH}images_6/five_icon_next@2x.png"></a></span>
    </div>
    <a href="https://3qk.easyvaas.com/manage/login" class="goto-more go-playing">立即发起</a>
</div>
<div class="footer">
    {template "content",footer}
</div>
</body>
<script type="text/javascript" src="{JS_PATH}js_6/jquery.min.js"></script>
<script type="text/javascript" src="{JS_PATH}js_6/responsive-menu.js"></script>
<script type="text/javascript" src="{JS_PATH}js_6/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="{JS_PATH}js_6/common.js"></script>
<script type="text/javascript">
   $(".footer").load("footer.html");
   $(".nav-page").load("header.html");
    // 判断浏览器高度确定 现实范围
    var wOffset = null;
    judgeWindowHeight();
    function judgeWindowHeight() {
        if($(window).height() <= 500){
            wOffset = 700;
        }else {
            wOffset = 900;
        }
    }
    // 滑屏依次出现文字图片
    $('.mainTipsItem').each(function(){
        $(this).waypoint(function(){
            var curClassName = this.element.className;
            this.element.className = this.element.className + ' mainTipsItemMove';
            this.destroy(); // 移除实例 只运行一遍动画
        },{offset:wOffset})
    })
    $(".mainTipsBox-ways-button li").on("click",function(){
        var imgstr = $(this).attr("data");
        $(".mainTipsBox-ways-button li").removeClass("active");
        $(this).addClass("active");
        if(imgstr > 5){
            $(".mainTipsBox-ways-bg2 img").attr("src","{IMG_PATH}images_6/exp_round_img_"+imgstr+"@2x.png");
        }else{
            $(".mainTipsBox-ways-bg1 img").attr("src","{IMG_PATH}images_6/exp_round_img_"+imgstr+"@2x.png");
        }

    })
</script>
</html>