<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <title>怎么直播|直播帮助|视频直播技术</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Keywords" content="怎么直播|直播帮助|视频直播技术" />
    <meta name="Description" content="三千氪直播，专业的视频直播技术服务商，为企业提供直播技术支持，更多的直播帮助，欢迎访问wwww.3qk.com" />
    <link rel="icon" href="{IMG_PATH}images_6/favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="baidu-site-verification" content="UPiURnj690" />
    <meta name="format-detection" content="telephone=no" />
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?e05000a621502338923be2aa8bad397e";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}css_6/reset.css">
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}css_6/layer.css">
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}css_6/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}css_6/responsive-menu.css">
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}css_6/main.css">
</head>
<body>
<div class="nav-page">
    {template "content","header"}
</div>
<div class="baike-banner">
    <img src="{IMG_PATH}images_6/enc_img_bg@2x.png">
</div>
<div class="baike-content w-960">
    <ul id="accordion" class="accordion">
        <li class="accordion-title">直播百科</li>
        <li>
            <!-- <div class="link">入门指南<i class="fa fa-chevron-down"></i></div> -->
            <div class="link linkactive">入门指南</div>
            <!-- <ul class="submenu">
                <li><a href="http://www.jq22.com">新手入门</a></li>
                <li><a href="http://www.jq22.com">常见问题</a></li>
            </ul> -->
        </li>
        <li>
            <div class="link">如何直播</div>
        </li>
        <li>
            <div class="link">直播QA</div>
        </li>
        <li>
            <div class="link">直播技术</div>
        </li>
    </ul>
    <!-- <div class="baike-second-nav">
        <div class="baike-second-nav-small"><a href="javascript:;">入门指南</a> > <a href="javascript:;">入门指南</a></div>
    </div> -->
    <div class="baike-content-right">
        <div class="baike-content-right-title">入门指南</div>
        <div class="baike-info-title">网络直播准备工作</div>
        <div class="baike-info-list">
            <p>网络直播由视频采集、视频编码、视频传输、视频分发等组成。所以直播前我们需要准备视频采集工具、视频编码工具、网络和直播平台帐号。</p>
            <p>视频采集工具有摄像头、摄像机、机顶盒、笔记本电脑等，视频编码工具有编码器、编码软件等，网络有有线网、无线网、4G网络等。</p>
            <p class="h2">手机直播：</p>
            <p>需要准备一部手机，下载好三千氪直播工具，连接好无线网（或4G），同时注册一个三千氪直播帐号，开设一个频道。</p>
            <p class="h2">专业相机直播：</p>
            <p>需要准备一台摄像机，一台编码器，一台笔记本电脑，一个路由器，网络，同时注册一个三千氪直播帐号，开设一个频道。</p>
            <p class="h2">广播级直播：</p>
            <p>对视频的观看角度要求较高，故而一般采用多机位直播方式，同时需要切换台等相关设备的辅助。</p>
            <p><span>所需设备：</span>专业摄像机三台（配支架），移动切换台一台，网络直播编码器一个，笔记本电脑一台，必要连接线若干，宽带专线接口一个，其他辅助设备，路由器一台</p>
            <p><span>编码器选择：</span>由于是多机位加上切换台的大型直播活动，那么连接切换台的编码器就不一定需要是无线编码器，我们可以选择较便宜的HDMI高清编码器或其他合适编码器，当然vidiu也支持有线网络直播活动。</p>
            <p><span>使用方法与步骤：</span><br>
            1、  硬件设备架设：在预定方位架设3台摄像机，用高清数据线连接到移动切换台，移动切换台上连接一个HDMI高清编码器，以上设备都连接上电源并开启设备。<br>
            2、  架设有线网络环境：首先路由器连接专线网络，然后将笔记本电脑和无线编码器都连接到该路由器上面，确认笔记本能够上网且能够进入编码器后台进行设置。<br>
            3、  视频直播参数设置：进入编码器管理后台之后，输入从三千氪直播平台获取的rtmp地址，选择视频码率、分辨率以及音频质量等。<br>
            4、 调试移动切换台，查看视频音频是否正常，最后开启直播，并用笔记本电脑查看并监控直播效果。
            </p>
            <p></p>
        </div>
    </div>
    <div class="baike-content-right">
        <div class="baike-content-right-title">如何直播</div>
        <div class="baike-info-title">如何使用三千氪发起直播？</div>
        <div class="baike-info-list">
            <p class="p-1">第一步：首次使用，进入登录页面进行账号注册。</p>
            <img src="{IMG_PATH}images_6/about-img-1.png">
            <p>(1):输入手机号以及验证码与手机验证码进行账号注册。</p>
            <p>(2)下一步。</p>
            <img src="{IMG_PATH}images_6/about-img-2.png">
            <p>（1）输入密码</p>

            <p class="p-1">第二步：实名注册与充值</p>
            <img src="{IMG_PATH}images_6/about-img-3.png">
            <p>（1）左上角创建直播进行实名认证</p>
            <p>（2）进行充值，完毕后方可发起直播。</p>

            <p class="p-1">第三步：发起直播</p>
            <img src="{IMG_PATH}images_6/about-img-4.png">
            <p>（1）：填写直播所需的标题、封面以及活动地点与具体的发起时间</p>
            <img src="{IMG_PATH}images_6/about-img-5.png">
            <p>（2）继续完善直播内容信息</p>
            <img src="{IMG_PATH}images_6/about-img-6.png">
            <p>（3）填写活动简介例如:直播内容... （可插入图片、可调整字体以及格式）</p>
            <img src="{IMG_PATH}images_6/about-img-6.png">
            <p>（4）填写自定义菜单，在合作中体现可添加标题与内容</p>
            <img src="{IMG_PATH}images_6/about-img-7.png">
            <p>（5）添加公告：如图 滚动公告例如：大会三十分钟后开始... （直播发起后可随时关闭删除）</p>
            <img src="{IMG_PATH}images_6/about-img-8.png">
            <p>（6）添加推广：若有需求可添加推广，添加推广语以及二维码或跳转链接（二维码与链接目前暂时具有唯一性只能选择一种方式跳转到网页）</p>
            <img src="{IMG_PATH}images_6/about-img-10.png">
            <p>（7）互动功能 可自主选择观众互动功能（聊天、发红包、打赏功能）</p>
            <img src="{IMG_PATH}images_6/about-img-11.png">
            <p>（8）榜单功能 可自主勾选榜单功能： “土豪榜”为打赏最多“手气榜”为抢红包最多运势最佳者“分享榜”为分享链接最多者即传播者的Top1-Top3</p>
            <img src="{IMG_PATH}images_6/about-img-12.png">
            <p>（9）观看权限：可设置免费、付费、密码三种观看模式。</p>
            <img src="{IMG_PATH}images_6/about-img-13.png">
            <p>（10）提交完毕后点击右上角的直播控制</p>
            <img src="{IMG_PATH}images_6/about-img-14.png">
            <p>（11）复制RTMP推流地址后下载PC直播助手</p>
            <img src="{IMG_PATH}images_6/about-img-15.png">
            <img src="{IMG_PATH}images_6/about-img-16.png">
            <p>（12）打开PC直播助手后进行设置：成功设置音频、视频、分辨率之后，把RTMP复制进推流地址点击开始直播 </p>
            <img src="{IMG_PATH}images_6/about-img-17.png">
            <p>（13）然后点击右上角三千氪网页的开始直播， 一场直播就成功发起了哦～　 </p>
            <img src="{IMG_PATH}images_6/about-img-18.png">
            <p>同样，在PC直播助手设置里输入其他平台RTMP 如（爱奇艺、腾讯、斗鱼等...） 都是可以推起的 .  </p>

            <p class="p-1">第三步：网页功能</p>
            <img src="{IMG_PATH}images_6/about-img-19.png">
            <p>（1）网页功能：第三方推流（可在推起直播同时将直播流分发至多个平台）</p>
            <p>（2）网页功能：二维码手机观看地址（手机扫描二维码可在手机端进行观看、可自主做嵌入）</p>
            <p>（3）网页功能：鼠标点击二维码可跳转至PC页面观看</p>
            <img src="{IMG_PATH}images_6/about-img-20.png">
            <p>（1）聊天区域可进行文字交流。</p>
            <img src="{IMG_PATH}images_6/about-img-21.png">
            <p>（1）勾选存储直播录像，可在直播的同时录制原件进行惠存。(在直播前勾选，结束后无法进行勾选）</p>
            <p>（2）勾选隐藏观看端画面，可暂时将正在直播的画面进行隐藏关闭（应急处理等..）</p>
        </div>
    </div>
    <div class="baike-content-right">
        <div class="baike-content-right-title">直播QA</div>
        <div class="baike-info-title">直播卡顿的解决方案</div>
        <div class="baike-info-list">
            <p>直播卡顿主要出现在3个环节：上传网络、服务器、下载网络，根据以下步骤操作可以逐步判断问题原因说在。</p>
            <p>第一步：更换观看网络。更换一个高速稳定的网络，若更换网络后观看直播正常了，则说明是原网络下载带宽不够。若更换后还是不正常则进行第二步判断。</p>
            <p>第二步：降低直播码率。降低直播码率到300，手机直播的话选择最低清晰度进行直播。若降低码率后，观看直播不卡了，则说明是直播网络的上传带宽不够。若降低码率后，还是有问题则进行第三步判断。</p>
            <p>第三步：对直播所用的网速进行简单测试，若网络上传带宽实在很低（小于1M上传带宽），则建议更换直播所用网络。若直播网络正常，请尽快找客服确定问题所在。</p>
        </div>
        <div class="baike-info-title">网络直播花屏解决方案</div>
        <div class="baike-info-list">
            <p>编码器直播中出现花屏，一般是视频源或者连接线出了问题，常规处理方法是查看编码器后台中断数和丢失中断数：</p>
            <p>1.若编码器显示中断数和丢失中断数均持续增加，则可以判断是编码器和摄像机接触不好或者数据有损失，可以更换数据线或者转接一个视频信号放大器；</p>
            <p>2.若中断数持续增加，丢失中断数不增加，则可以判断是视频源有问题，检查下相机输出设置；</p>
            <p>3. 网络环境复杂，也有可能出现花屏问题，尝试更换网络环境解决。</p>
        </div>
    </div>
    <div class="baike-content-right">
        <div class="baike-content-right-title">直播技术</div>
        <div class="baike-info-title">流媒体传输和CDN厂商的优化方案</div>
        <div class="baike-info-list">
            <p class="h2">背景：</p>
            <p>随着互联网整体接入带宽的增加，价格的降低。用户对流媒体的内容需求越来越多。视频行业得到了蓬勃发展。</p>
            <p>视频流媒体技术上主要分为点播，直播，实时通信几大形式。业务上细分有电视台的直播，电影和短片的点播，秀场游戏的直播，实时语音和视频的通话，视频多方会议等。</p>
            <p>流媒体涉及的几大主要环节包括：</p>
            <p>1.视音频采集<br>
                2.视音频编解码<br>
                3.流媒体数据的传输<br>
                4.媒体数据的存储
            </p>
            <p>其中成本较高的，复杂度较高的，主要是流媒体数据的传输分发环节。以下主要讨论传输分发环节中的基本方案。</p>
            <p class="h2">几种分发方式的对比：</p>
            <p>视频公司一般会采用三种方式分发流媒体内容：</p>
            <p>一.搭建自有分发网络。</p>
                <p>优点：</p>
                <p>1.可控性好
                2.大规模情况下带宽成本低
                3.功能定制能力强</p>
                <p>缺点：</p>
                <p>1.需要专业运维团队
                2.伸缩周期长
                3.硬件成本较高</p>
            <p>二.使用CDN厂商提供的流媒体CDN</p>
                <p>优点：</p>
                <p> 1.部署速度快
                2.不需要专业运维团队</p>
                <p>缺点：</p>
                <p>1.带宽单价高
                2.需要监控机制，评估CDN质量
                3.功能定制能力差</p>
           <p>三.自有分发网络和厂商CDN混合使用</p>
           <p>CDN厂商概述：</p>
           <p>CDN厂商一般会提供几类分发业务：</p>
           <p>1.网页分发
            2.下载内容分发
            3流媒体内容分发。</p>
            <p>其中流媒体内容分发，主流的有以下几种：</p>
            <p>1.rtmp协议
                2.http/flv
                3.mp4文件
                4.flv文件
                5.hls协议
                6.hds协议</p>
            <p class="h2">问题及解决方案：</p>
            <p>搭建自有分发系统速度慢，硬件和人员成本高，而且伸缩速度也很慢。业务发展快的情况下，自有网络受到带宽，机房，服务器等采购周期影响，一般很难满足快速扩充的需求。为了应付突发的用户增加，冗余的带宽和设备成本也是不小的开支。所以，越来越多的视频公司开始和CDN厂商合作，解决CDN搭建和伸缩，资源冗余储备问题。CDN厂商可以在很大程度上减轻视频公司的压力。</p>
            <p> 在和CDN厂商的合作中，除了带来了以上的好处外，还有一些问题是比较隐蔽的，有一些问题需要视频公司和CDN厂商配合才能解决的。</p>
            <p>以下列举几个比较有特点的问题：</p>
            <p>1.带宽资源不够
            2.接入节点分布和用户接入匹配
            3.调度错误
            4.DNS劫持</p>
            <p>一.带宽资源不够</p>
            <p>问题描述：流媒体的带宽消耗比较大。通常在几百kbps到几兆bps，有的场景更高，能够高达几十mbps。如果遇到并发用户突增情况，CDN的带宽如果调整不及时，经常造成整体带宽资源不足问题。</p>
            <p>决方案：1.和CDN厂商进行沟通，留足冗余带宽。2.多家CDN厂商并行使用。</p>
            <p>二. 接入节点分布和用户接入匹配</p>
            <p>问题描述：不同的内容和推广形式对用户的分布影响较大。很多情况下会产生局部接入点压力过大问题。需要及时增加此点的资源总量，或者将用户分流到其他节点。</p>
            <p>解决方案：1.收集用户接入信息进行分析，调整资源分布。2.收集接入服务器信息进行分析，调整资源分布。</p>
            <p>三. 节点调度错误</p>
            <p>问题描述：
                此类问题一般出现在两个地方。
                第一,是cdn的资源配置表错误，主要由于ip表没有及时和运营商保持同步，节点资源信息没有及时更新导致。
                第二，用户使用的dns服务器填写错误。域名解析服务器是依赖用户的DNS服务器地址来判断用户所在网络的。如果用户或者运营商将DNS解析地址配置错误会导致DNS解析的错判，导致用户被错误分配到效果较远的CDN节点上。</p>
            <p>解决方案：
                1.长期收集最新的运营商ip列表，并更新到dns解析系统。
                2.使用基于ip的调度替代基于dns服务器ip的调度。</p>
            <p>四. DNS劫持 </p>
            <p> 问题描述：

           此类问题主要出现在小运营商接入的用户。小运营商对出口带宽的成本控制比较精细。为了控制更少的出口流量。通常会在出口位置放置自有的Cache服务器，将重复内容拦截在网内。技术上，大多会使用DNS劫持方式。将一些在列表内的域名解析到网内的Cache上。如果这些劫持对内容的理解没有问题，比如过期时间，是否能够cache等。实际上能够提高用户的访问体验。但是如果小运营商错误判断了这些参数，将会导致用户拿到过期的，甚至不是属于此用户的数据。
            解决方案：
                1.联系小运营商，让其放开对此域名的劫持
                2.使用基于ip的调度替代基于dns服务器ip的调度。
            </p>
        </div>
    </div>
</div>
<div class="footer" style="margin-top:100px;">
    {template "content","footer"}
</div>
</body>
<script type="text/javascript" src="{JS_PATH}js_6/jquery.min.js"></script>
<script type="text/javascript" src="{JS_PATH}js_6/common.js"></script>
<script type="text/javascript">
    $(function() {
        var Accordion = function(el, multiple) {
            this.el = el || {};
            this.multiple = multiple || false;

            // Variables privadas
            var links = this.el.find('.link');
            // Evento
            links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
        }

        Accordion.prototype.dropdown = function(e) {
            var $el = e.data.el;
            $this = $(this),
                    $next = $this.next();

            $next.slideToggle();
            $this.parent().toggleClass('open');

            if (!e.data.multiple) {
                $el.find('.submenu').not($next).slideUp().parent().removeClass('open');
            };
        }

        var accordion = new Accordion($('#accordion'), false);
    });
    $(".baike-content-right").eq(0).show();
    $(".accordion .link").on("click",function(){
        $(".link").removeClass("linkactive");
        $(this).addClass("linkactive");
        var index = $(".accordion .link").index(this);
        $(".baike-content-right").hide();
        $(".baike-content-right").eq(index).show();
    })
</script>

</html>