<!DOCTYPE html>
<html>
<head>
    <title>三千氪直播免费试用|免费直播|发起直播</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Keywords" content="三千氪直播免费试用|免费直播|发起直播" />
    <meta name="Description" content="三千氪直播，领先的直播服务商,致力于为企业提供在线直播服务,视频直播设备,直播解决方案,视频会议软件等，欢迎免费试用三千氪发起直播，免费直播热线400-667-9656" />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="baidu-site-verification" content="UPiURnj690" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="icon" href="{IMG_PATH}images_6/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}css_6/reset.css">
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}css_6/main.css">
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}css_6/layer.css">
    <link rel="stylesheet" type="text/css" href="{CSS_PATH}css_6/responsive-menu.css">
</head>
<body>
<!-- 导航 -->
<div class="nav-page">
    {template "content","header"}
</div>
<div class="banner apply-banner">
    <img src="{IMG_PATH}images_6/enc_img_bg@2x.png">
</div>
<div class="apply-page">
    <div class="apply-h-1">请留下您的联系方式  我们会尽快联系您开通免费试播权限</div>
    <div class="apply-form">

        <script language='javascript' src='{APP_PATH}index.php?m=formguide&c=index&a=show&formid=13&action=js&siteid=1'></script>
        <!--<ul>-->
            <!--<li>-->
                <!--<p>*姓名 <span>Full Name</span></p>-->
               <!--<p>{$forminfos[customer_name][form]}</p>-->
            <!--</li>-->
            <!--<li>-->
                <!--<p>*公司名称 <span>Company Name</span></p>-->
                <!--<p>{$forminfos[customer_company][form]}</p>-->

            <!--</li>-->
            <!--<li>-->
                <!--<p>*联系电话 <span>Contact Number</span></p>-->
                <!--<p>{$forminfos[customer_phone][form]}</p>-->

            <!--</li>-->
        <!--</ul>-->
        <!--<input type="submit" name="dosubmit" value="确定" />-->

        <!--<div class="call submit">提交免费试播申请</div>-->
        <div class="submite_word">如果您对免费试播存有疑问，请点击我进行 <a href="http://p.qiao.baidu.com/cps/chat?siteId=10839723&userId=22826019">在线咨询</a></div>
    </div>
    <div class="apply-tips">以上信息，我们将为您进行严格保密，绝不会泄露至任何第三方</div>
</div>

<div class="footer">

    {template "content","footer"}
</div>
</body>
<script type="text/javascript" src="{JS_PATH}js_6/jquery.min.js"></script>
<script type="text/javascript" src="{JS_PATH}js_6/layer.min.js"></script>
<script type="text/javascript" src="{JS_PATH}js_6/common.js"></script>
<script type="text/javascript">
//    $(".footer").load("footer.html");
//    $(".nav-page").load("header.html");
    // 申请试用
    <!--function layerMsg(msg){-->
        <!--layer.open({-->
            <!--content: msg,-->
            <!--style: 'background-color:rgba(0,0,0,1); color:#fff !important; border:none;',-->
            <!--time: 3-->
        <!--});-->
    <!--}-->
    <!--$('.submit').on('click',function(){-->
        <!--var customer_name = $.trim($('input[name=customer_name]').val());-->
        <!--var customer_company = $.trim($('input[name=customer_company]').val());-->
        <!--var customer_phone = $.trim($('input[name=customer_phone]').val());-->

        <!--if(customer_name.length<=0){-->
            <!--layerMsg('请填写联系人的名字')-->
            <!--return false;-->
        <!--}-->
        <!--if(customer_company.length<=0){-->
            <!--layerMsg('请填写公司名称')-->
            <!--return false;-->
        <!--}-->
        <!--if( (/^(((1[3578][0-9])|(147)|(170)){1}\d{8})$/.test(customer_phone)) ==false ){-->
            <!--layerMsg('请填写联系人的联系电话')-->
            <!--return false;-->
        <!--}-->

        <!--$.ajax({-->
            <!--url:"",-->
            <!--type:'post',-->
            <!--dataType:'json',-->
            <!--data:{-->
                <!--customer_name:customer_name,-->
                <!--customer_company:customer_company,-->
                <!--customer_phone:customer_phone,-->

            <!--},-->
            <!--success:function(data){-->

                <!--if(data.status==0){-->
                    <!--layerMsg('申请成功，我们将尽快与您联系！');-->
                    <!--setTimeout(function(){-->
                        <!--$(".application-page").css("display","none");-->
                        <!--$('input[name=customer_name]').val("");-->
                        <!--$('input[name=customer_company]').val("");-->
                        <!--$('input[name=customer_phone]').val("");-->

                    <!--},3000)-->
                <!--}-->
            <!--}-->
        <!--})-->
    <!--})-->
<!--</script>-->

</html>
